@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 크로미엄 기반 브라우저에서 스크롤바 숨기기 */
::-webkit-scrollbar {
  width: 0; /* 수직 스크롤바 */
  height: 0; /* 수평 스크롤바 */
}

/* Firefox에서 스크롤바 숨기기 */
html {
  scrollbar-width: none; /* 스크롤바 숨기기 */
}

html {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
  color: #252525;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea,
input[type=text] {
  flex: 1;
  padding: 0.8rem 1.6rem;
  border: 0.2rem solid #c3c1e5;
  border-radius: 0.4rem;
  outline: none;
  transition: all 0.3s;
  font-size: 1.6rem;
  box-sizing: border-box;
}
textarea:focus,
input[type=text]:focus {
  border-color: #6c63ff;
}
textarea::-moz-placeholder, input[type=text]::-moz-placeholder {
  color: #c3c1e5;
}
textarea::placeholder,
input[type=text]::placeholder {
  color: #c3c1e5;
}

.custom-checkbox {
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 2.4rem;
  position: relative;
}
.custom-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom-checkbox input[type=checkbox] + span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #c3c1e5;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.custom-checkbox input[type=checkbox]:checked + span {
  border-color: #6c63ff;
}
.custom-checkbox input[type=checkbox]:checked + span::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 1rem;
  border: solid #6c63ff;
  border-width: 0 0.3rem 0.3rem 0;
  transform: rotate(45deg);
  margin-bottom: 0.4rem;
}

.col-group {
  width: 100%;
  height: 3.8rem;
  display: flex;
  align-items: center;
}

.row-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base-button, .secondary-button, .primary-button {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}

.primary-button {
  background-color: #6c63ff;
  color: #fff;
}
.primary-button:hover {
  background-color: #5a3fff;
}

.secondary-button {
  background-color: #fff;
  color: #6c63ff;
  border: 0.1rem solid #6c63ff;
}
.secondary-button:hover {
  background-color: #6c63ff;
  color: #fff;
}

.ico-button path {
  transition: all 0.3s;
}
.ico-button:hover path {
  stroke: #6c63ff;
}

.base-main {
  width: 100%;
  max-width: 75rem;
  min-width: 32rem;
  margin: 0 auto;
  padding: 9rem 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  box-sizing: border-box;
}
.base-main .main-title {
  width: 100%;
  font-size: 3.4rem;
  font-weight: 500;
}
.base-main .main-container {
  width: 100%;
}
.base-main .main-container .col-group {
  gap: 2rem;
  margin-bottom: 4rem;
}
.base-main .main-container .search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}
.base-main .main-container .search-bar .search-button {
  position: absolute;
  right: 1.6rem;
  top: 0;
  width: 2.1rem;
  height: 100%;
  background: none;
  border: none;
  padding: 0;
}
.base-main .main-container .search-bar .search-button i {
  width: 100%;
  height: 2.1rem;
}
.base-main .main-container .search-bar .search-button i svg {
  width: 100%;
  height: 100%;
}
.base-main .main-container .filter-button {
  width: 8.6rem;
  justify-content: space-between;
}
.base-main .main-container .filter-options {
  display: none;
}
.base-main .main-container .todo-list .todo-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  height: 5rem;
}
.base-main .main-container .todo-list .todo-item + .todo-item {
  border-top: 0.1rem solid #6c63ff;
}
.base-main .main-container .todo-list .todo-item .move-button {
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  background: none;
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.base-main .main-container .todo-list .todo-item .move-button rect {
  transition: fill 0.3s;
}
.base-main .main-container .todo-list .todo-item .move-button:hover rect {
  fill: #6c63ff;
}
.base-main .main-container .todo-list .todo-item .todo-title {
  flex: 1;
}
.base-main .main-container .todo-list .todo-item.completed label {
  text-decoration: line-through;
  color: #aaa;
}
.base-main .main-container .todo-list .todo-item .actions {
  display: flex;
}
.base-main .main-container .todo-list .todo-item .actions button {
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
  width: 5rem;
}
.base-main .main-container .todo-list .todo-item .actions button:hover {
  color: #6c63ff;
}
.base-main .main-container .todo-list .todo-item .actions button i {
  font-size: 1.6rem;
}
.base-main .main-container .add-button {
  padding: 1.5rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border: 0.1rem solid #6c63ff;
  height: auto;
}
.base-main .main-container .add-button i {
  font-size: 1.6rem;
}

.base-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}
.base-popup-overlay.hidden {
  display: none;
}

.base-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 0.1rem solid #ccc;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 75rem;
  min-width: 32rem;
  padding: 20.5rem 4rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 10.5rem;
}
.base-popup .popup-title {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
}
.base-popup .row-group {
  gap: 1rem;
}
.base-popup .row-group label,
.base-popup .row-group input,
.base-popup .row-group textarea {
  width: 100%;
  font-size: 1.6rem;
}
.base-popup .col-group {
  margin-top: 60.5rem;
  justify-content: space-between;
}
.base-popup.hidden {
  display: none;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  text-align: center;
  color: #fff;
  background-color: #c3c1e5;
}/*# sourceMappingURL=style.css.map */